<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .demo1{
            border: 1px solid red;
            height: 200px;
            width: 100%;
        }
    #demo{
        border: 1px solid red;
        height: 2000px;
        width: 100%;
        overflow: auto;
    }
    </style>
</head>
<body>
    <div class="demo1"></div>
    <div id="demo"></div>
    <form action="" method="post">
        
    <input type="search" name="city" placeholder="输入学校、商务楼、地址" class="city_input input_style" required >
    
    <input type="submit" name="submit" class="city_submit input_style" value="提交">
    </form>
</body>
</html>
